<!--个人成绩界面（根据课程属性筛选）-->
        {% extends 'student/base.html' %}

        {% block title %}个人成绩{% endblock %}

        {% block main %}
        <script type="text/javascript" >
        
            function setAttri(){
            var value = document.getElementById('attri').value;
            localStorage.setItem("user_selected_attri", value);}
    
            function getAttri(){
            return localStorage.getItem("user_selected_attri");}
        </script>
       <form style="margin:0 auto; max-width:600px; width:auto;" action="{{  url_for('GradeByAttri') }}" method="POST" onsubmit="setAttri()">
        <br />
        请选择课程属性：
        <select class="custom-select" name="attri" id="attri" method="GET" action="/" style="width:200px;margin: 0 auto;">
            {% for attriitem in attri %}
             <option value="{{attriitem}}">{{  attriitem  }}</option>"
            {% endfor %}
        </select>
        <script type="text/javascript">
            document.getElementById('attri').value = getAttri();
        </script>
        &nbsp&nbsp&nbsp&nbsp
        <input class="btn btn-primary" type="submit" value="查询"></form>
        <br />
        <br />
        <div style="min-height:500px; height:auto; max-width: 750px; width:auto; margin: 0 auto;">
        <table class="table table-striped">
	        <thead>
		        <tr>
			        <th>课程名称</th>
                    <th>学时</th>
                    <th>学分</th>
                    <th>成绩</th>
                    <th>总人数</th>
                    <th>名次</th>
                </tr>
	        </thead>
	        <tbody>
	        {% for line in result %}
		        <tr>
                {% for item in line %}
			    <td name="{{item}}">{{item}}</td>
			    {% endfor %}
		        </tr>
	        {% endfor %}
	        </tbody>
        </table>
        </div>
        <div style="height: 50px"></div> <!--占行用-->
        {% endblock %}
        