<!--个人成绩界面（根据课程属性筛选）-->
        {% extends 'student/base.html' %}

        {% block title %}个人成绩{% endblock %}

        {% block main %}
       <form action="{{  url_for('GradeByAttri') }}" method=post>
        <select class="custom-select" name="attri" method="GET" action="/">
             <option selected>课程属性</option>
            {% for attriitem in attri %}
             <option value="{{attriitem}}">{{  attriitem  }}</option>"
            {% endfor %}
        </select>
        <input class="btn btn-primary" type="submit" value="查询"></form>

        <table class="table table-striped" style="width: 500px;height:500px;margin: 0 auto">
	        <thead>
		        <tr>
			        <th>课程名称</th>
                    <th>学时</th>
                    <th>学分</th>
                    <th>成绩</th>
                </tr>
	        </thead>
	        <tbody>
	        {% for line in result %}
		        <tr>
                {% for item in line %}
			    <td name="{{item}}">{{item}}</td>
			    {% endfor %}
		        </tr>
	        {% endfor %}
	        </tbody>
        </table>
        {% endblock %}
        