{% extends 'student/base.html' %}

{% block title %}综合积分汇总{% endblock %}

{% block main %}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../static/js/datatables.min.js"></script>

<script type="text/javascript" >
    function setBlank(){
    var moralGrade = document.getElementById('moralGrade').value;
    var intelGrade = document.getElementById('intelGrade').value;
    var socialGrade = document.getElementById('socialGrade').value;
    var extraGrade = document.getElementById('extraGrade').value;
    var totalGrade = document.getElementById('totalGrade').value;
    localStorage.setItem("user_selected_moralGrade", moralGrade);
    localStorage.setItem("user_selected_intelGrade", intelGrade);
    localStorage.setItem("user_selected_socialGrade", socialGrade);
    localStorage.setItem("user_selected_extraGrade", extraGrade);
    localStorage.setItem("user_selected_totalGrade", totalGrade);}

    function getMoralGrade(){
    return localStorage.getItem("user_selected_moralGrade");}
    function getIntelGrade(){
    return localStorage.getItem("user_selected_intelGrade");}
    function getSocialGrade(){
    return localStorage.getItem("user_selected_socialGrade");}
    function getExtraGrade(){
    return localStorage.getItem("user_selected_extraGrade");}
    function getTotalGrade(){
    return localStorage.getItem("user_selected_totalGrade");}
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#dtBasicExample').DataTable( {
        "paging":   false,
        "searching": false,
        "info":     false,
        columnDefs: [{
        orderable: false,
        targets: 0}]
        } );
        $('.dataTables_length').addClass('bs-select');
    });
    </script>

      <div style="height:30px; margin: 0 auto;"></div>
      <div style="max-width: 750px; min-height:500px; height:auto; width:auto; margin: 0 auto;">
        <table id="dtBasicExample" class="display" width="100%" class="table table-striped">
          <thead>
            <tr>
                <th>姓名</th>
                <th>德育分</th>
                <th>智育分</th>
                <th>体育分</th>
                <th>附加分</th>
                <th>总分</th>
            </tr>
          </thead>
          <tbody>
          {% for line in result %}
            <tr>
              {% for item in line %}
              <td name="{{item}}">{{item}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
</div>

{% endblock %}
