{% extends 'student/base.html' %}

{% block title %}综合积分汇总{% endblock %}

{% block main %}
<script type="text/javascript" >
        
    function setBlank(){
    var moralGrade = document.getElementById('moralGrade').value;
    var intelGrade = document.getElementById('intelGrade').value;
    var socialGrade = document.getElementById('socialGrade').value;
    var extraGrade = document.getElementById('extraGrade').value;
    var totalGrade = document.getElementById('totalGrade').value;
    localStorage.setItem("user_selected_moralGrade", moralGrade);
    localStorage.setItem("user_selected_intelGrade", intelGrade);
    localStorage.setItem("user_selected_socialGrade", socialGrade);
    localStorage.setItem("user_selected_extraGrade", extraGrade);
    localStorage.setItem("user_selected_totalGrade", totalGrade);}

    function getMoralGrade(){
    return localStorage.getItem("user_selected_moralGrade");}
    function getIntelGrade(){
    return localStorage.getItem("user_selected_intelGrade");}
    function getSocialGrade(){
    return localStorage.getItem("user_selected_socialGrade");}
    function getExtraGrade(){
    return localStorage.getItem("user_selected_extraGrade");}
    function getTotalGrade(){
    return localStorage.getItem("user_selected_totalGrade");}
    </script>
    <form style="margin:0 auto; max-width: 800px; width:auto;" action="{{  url_for('stu_index') }}" method="POST" onsubmit="setBlank()">
        <br />
        按照：德育
        <select class="custom-select" name="moralGrade" id="moralGrade" method="GET" action="/" style="width:80px;margin: 0 auto;">  
          <option></option>
          <option value="asc">升序</option>
          <option value="desc">降序</option>
        </select> 
        <script type="text/javascript">
          document.getElementById('moralGrade').value = getMoralGrade();
        </script>
        &nbsp&nbsp智育
        <select class="custom-select" name="intelGrade" id="intelGrade" method="GET" action="/" style="width:80px;margin: 0 auto;">
          <option></option>
          <option value="asc">升序</option>
          <option value="desc">降序</option>
        </select> 
        <script type="text/javascript">
          document.getElementById('intelGrade').value = getIntelGrade();
        </script>
        &nbsp&nbsp体育
        <select class="custom-select" name="socialGrade" id="socialGrade" method="GET" action="/" style="width:80px;margin: 0 auto;"> 
          <option></option>
          <option value="asc">升序</option>
          <option value="desc">降序</option>
        </select>
        <script type="text/javascript">
          document.getElementById('socialGrade').value = getSocialGrade();
        </script> 
        &nbsp&nbsp附加分
        <select class="custom-select" name="extraGrade" id="extraGrade" method="GET" action="/" style="width:80px;margin: 0 auto;"> 
          <option></option>
          <option value="asc">升序</option>
          <option value="desc">降序</option>
        </select>
        <script type="text/javascript">
          document.getElementById('extraGrade').value = getExtraGrade();
        </script>
        &nbsp&nbsp总分
        <select class="custom-select" name="totalGrade" id="totalGrade" method="GET" action="/" style="width:80px;margin: 0 auto;">
          <option></option>
          <option value="asc">升序</option>
          <option value="desc">降序</option>
        </select>  
        <script type="text/javascript">
          document.getElementById('totalGrade').value = getTotalGrade();
        </script>
        排序
        &nbsp&nbsp&nbsp&nbsp
        <input class="btn btn-primary" type="submit" value="查询">
        </form>
        

      <div style="height:30px; margin: 0 auto;"></div>
      <div style="max-width: 750px; min-height:500px; height:auto; width:auto; margin: 0 auto;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>姓名</th>
              <th>德育分</th>
              <th>智育分</th>
              <th>体育附加分</th>
              <th>附加分</th>
              <th>总分</th>
            </tr>
          </thead>
          <tbody>
          {% for line in result %}
            <tr>
              {% for item in line %}
              <td name="{{item}}">{{item}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
</div>

{% endblock %}
