<!--我的综合积分界面-->
{% extends 'student/base.html' %}

{% block title %}我的综合积分{% endblock %}

{% block main %}
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<div style="height:30px;margin: 0 auto;"></div>
<div id="main" style="width:75%; min-height:500px; height:auto; margin:0 auto;"></div>

    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        // 图表配置
		myChart.setOption({
			title: {
        text: {{name|tojson}}
    },
    tooltip: {},
    radar: {
        shape: 'circle',
        name: {
            textStyle: {
                color: '#fff',
                backgroundColor: '#999',
                borderRadius: 3,
                padding: [3, 5]
           }
        },
        indicator: [
           { name: '德育测评分', max: 20},
           { name: '智育测评分', max: 100},
           { name: '文体测评分', max: 100},
           { name: '附加分', max: 10}
        ]
    },
    series: [{
        type: 'radar',
        // areaStyle: {normal: {}},
        data : [
            {
                value : {{score|tojson}}
            }
        ]
        
    }]
		});
    window.onresize = function(){
    myChart.resize();}
    </script>
   <div style="height: 120px"></div> <!--占行用-->
{% endblock %}