<!--我的附加分界面-->
        {% extends 'student/base.html' %}

        {% block title %}我的附加分{% endblock %}

        {% block main %}
        <div style="height:30px;margin: 0 auto;"></div>
        <h3>&nbsp&nbsp&nbsp&nbsp你在本学年的附加分项如下：</h3>
        <br>
        <div style="max-width:750px; min-height:500px; height:auto; width:auto; margin: 0 auto;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>项目内容</th>
                <th>分数</th>
                <th>学期</th> <!--#数据库存在学期为3，不知道为啥-->
              </tr>
            </thead>
            <tbody>
            {% for line in result %}
              <tr>
                {% for item in line %}
                <td name="{{item}}">{{item}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div style="height: 60px"></div> <!--占行用-->
        {% endblock %}
        