{% extends 'teacher/base.html' %}

{% block title %}附加分统计{% endblock %}

{% block main %}
<script type="text/javascript" >
    function setBlank(){
    var value1 = document.getElementById('userID').value;
    localStorage.setItem("user_selected_userID", value1);}

    function getUserID(){
    return localStorage.getItem("user_selected_userID");}
    </script>
<form action="{{  url_for('Bonus') }}" method='POST' onsubmit="setBlank()">
            &nbsp&nbsp&nbsp&nbsp请输入学号：
            <input type="text" name="userID" id="userID" style="width: 200px" method="POST"/>
            <script type="text/javascript">
                document.getElementById('userID').value = getUserID();
            </script>
                &nbsp&nbsp&nbsp&nbsp
            <input class="btn btn-primary" type="submit" value="查询">
        </form>
            <div style="height:30px;margin: 0 auto;"></div>
            <div style="max-width:750px; min-height:500px; height:auto; width:auto; margin: 0 auto;">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>项目内容</th>
                    <th>分数</th>
                    <th>学期</th> <!--#数据库存在学期为3，不知道为啥-->
                  </tr>
                </thead>
                <tbody>
                {% for line in result %}
                  <tr>
                    {% for item in line %}
                    <td name="{{item}}">{{item}}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div style="height: 100px"></div> <!--占行用-->
{% endblock %}