{% extends 'teacher/base.html' %}

{% block title %}各届成绩对比{% endblock %}

{% block main %}
<script type="text/javascript" >
    function setBlank(){
      var value1 = document.getElementById('major').value;
      var value2 = document.getElementById('year1').value;
      var value3 = document.getElementById('year2').value;
      var value4 = document.getElementById('class1').value;
      var value5 = document.getElementById('class2').value;
      localStorage.setItem("user_selected_major", value1);
      localStorage.setItem("user_selected_year1", value2);
      localStorage.setItem("user_selected_year2", value3);
      localStorage.setItem("user_selected_class1", value4);
      localStorage.setItem("user_selected_class2", value5);}

    function getMajor(){
    return localStorage.getItem("user_selected_major");}
    function getYear1(){
    return localStorage.getItem("user_selected_year1");}
    function getYear2(){
    return localStorage.getItem("user_selected_year2");} 
    function getClass1(){
    return localStorage.getItem("user_selected_class1");}
    function getClass2(){
    return localStorage.getItem("user_selected_class2");}
</script>
<br>
<form action="{{  url_for('CompByYear') }}" method="POST" onsubmit="setBlank()">
    请选择专业：
    <select class="custom-select" name="major" id="major" method="GET" action="/">
        {% for majoritem in major %} 
         <option value="{{majoritem}}">{{  majoritem  }}</option>" 
        {% endfor %}
    </select>
    <script type="text/javascript">
        document.getElementById('major').value = getMajor();
    </script>
    请选择年级1：
    <select class="custom-select" name="year1" id="year1" method="GET" action="/">
        {% for yearitem in year %} 
         <option value="{{yearitem}}">{{  yearitem  }}</option>" 
        {% endfor %} 
    </select>
    <script type="text/javascript">
        document.getElementById('year1').value = getYear1();
    </script>
    请选择班级1：
    <select class="custom-select" name="class1" id="class1" method="GET" action="/">
        {% for class in classes %} 
         <option value="{{class}}">{{class}}</option>" 
        {% endfor %} 
    </select>
    <script type="text/javascript">
        document.getElementById('class1').value = getClass1();
    </script>
    请选择年级2：
    <select class="custom-select" name="year2" id="year2" method="GET" action="/">
        {% for yearitem in year %} 
         <option value="{{yearitem}}">{{  yearitem  }}</option>" 
        {% endfor %} 
    </select>
    <script type="text/javascript">
        document.getElementById('year2').value = getYear2();
    </script>
    请选择班级2：
    <select class="custom-select" name="class2" id="class2" method="GET" action="/"> 
        {% for class in classes %} 
        <option value="{{class}}">{{class}}</option>" 
        {% endfor %} 
    </select>
    <script type="text/javascript">
        document.getElementById('class2').value = getClass2();
    </script>
    <input class="btn btn-primary" type="submit" value="比较">
</form>
<br>
{% if selectedNull==True %}
<script type="text/javascript" >
    M.toast({html: '请选择选项',classes: 'rounded, amber , black-text'})
</script>
{% elif noResult==True %}
<script type="text/javascript" >
    M.toast({html: '无查询结果，请检查班级选项',classes: 'rounded, amber , black-text'})
</script>
{% endif %}
<div id="main2" style="height:500px;margin: 0 auto; width:75%;"></div>
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<script type="text/javascript">
	var myChart2 = echarts.init(document.getElementById('main2'));
	// 指定图表的配置项和数据
		var option2 = {
                title : {
                    text: '各届平均成绩对比',
                    subtext: '基于相同课程'
                },
            tooltip : {
                trigger: 'axis'
            },

			
            legend: {
                data:{{two_class|tojson}}
            },

            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            
			calculable : true,
            
			xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : {{courses|tojson}}
                }
            ],
            
			yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
            ],
			
            series : [
                {%for class in two_class%}
                {
                    name:{{class|tojson}},
                    type:'line',
                    data:{{grades[loop.index0]|tojson}},
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                },
				{%endfor%}
                
            ]
        };
    myChart2.setOption(option2);
    window.onresize = function(){
        myChart2.resize();}
</script>
{% endblock %}