{% extends 'teacher/base.html' %}

{% block title %}多学生比较{% endblock %}

{% block main %}
<br>
<form action="{{  url_for('CompByStu') }}" method="POST">
<textarea name="MultiID" style="height:150px" method="GET" action="/" placeholder="输入学号，使用英文逗号(,)分隔" style="border:solid 1px" rows="8" cols="60" method="POST"></textarea>
<br>
<input class="btn btn-primary" type="submit" value="比较">
</form>
<br>
<div id="main2" style="height:500px;margin: 0 auto; width:75%;"></div>
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<script type="text/javascript">
	var myChart2 = echarts.init(document.getElementById('main2'));
	// 指定图表的配置项和数据
		var option2 = {
                title : {
                    text: '多名学生成绩走向对比',
                    subtext: '基于相同课程'
                },
            tooltip : {
                trigger: 'axis'
            },

			
            legend: {
                data:{{names|tojson}}
            },
			
        
          

            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            
			calculable : true,
            
			xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : {{courses|tojson}}
                }
            ],
            
			yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
            ],
			
            series : [
                {%for name in names%}
                {
                    name:{{name|tojson}},
                    type:'line',
                    data:{{grades[loop.index0]|tojson}},
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                },
				{%endfor%}
                
            ]
        };
    myChart2.setOption(option2);
    window.onresize = function(){
        myChart2.resize();}
</script>
{% endblock %}