{% extends 'teacher/base.html' %}

{% block title %}课程总览{% endblock %}

{% block main %}
<script type="text/javascript" >
    function setBlank(){
    var value1 = document.getElementById('grade').value;
    var value2 = document.getElementById('year').value;
    var value3 = document.getElementById('semester').value;
    var value4 = document.getElementById('courseName').value;
    localStorage.setItem("user_selected_grade", value1);
    localStorage.setItem("user_selected_year", value2);
    localStorage.setItem("user_selected_semester", value3);
    localStorage.setItem("user_selected_course", value4);}
    

    function getYear(){
    return localStorage.getItem("user_selected_year");}

    function getSemester(){
    return localStorage.getItem("user_selected_semester");}

    function getGrade(){
    return localStorage.getItem("user_selected_grade");}

    function getCourse(){
    return localStorage.getItem("user_selected_course");}
</script>
<form style="margin:0 auto; max-width:900px; width:auto;" action="{{  url_for('CourseOverview') }}" method="POST" onsubmit="setBlank()">
    <br />
    请选择年级：    
    <select class="custom-select" name="grade" id="grade" method="GET" action="/" style="width:200px;margin: 0 auto;">
            {% for gradeitem in grade %} 
             <option value="{{gradeitem}}">{{  gradeitem  }}</option>" 
            {% endfor %} 
    </select> 
    <script type="text/javascript">
        document.getElementById('grade').value = getGrade();
    </script>
        &nbsp&nbsp&nbsp&nbsp学年：
    <select class="custom-select" name="year" id="year" method="GET" action="/" style="width:200px;margin: 0 auto;">
          {% for yearitem in year %} 
           <option value="{{yearitem}}">{{  yearitem  }}</option>" 
          {% endfor %} 
    </select> 
    <script type="text/javascript">
        document.getElementById('year').value = getYear();
    </script>
        &nbsp&nbsp&nbsp&nbsp学期：
    <select class="custom-select" name="semester" id="semester" method="GET" action="/" style="width:200px;margin: 0 auto;"> 
          {% for semesteritem in semester %} 
           <option value="{{semesteritem}}">{{  semesteritem  }}</option>" 
          {% endfor %} 
    </select>
    <script type="text/javascript">
        document.getElementById('semester').value = getSemester();
    </script>
    <br>
    课程名称：
        <input type="text" name="courseName" id="courseName" style="width: 150px" method="POST"/>
        <script type="text/javascript">
            document.getElementById('courseName').value = getCourse();
        </script>
        &nbsp&nbsp&nbsp&nbsp
        <input class="btn btn-primary" type="submit" value="查询">
        </form>
        <br />
        <html>
        <head>
            <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
        </head>
        <body>
            <div id="main" style="width:75%; min-height:400px; margin: 0 auto"></div>
            <script type="text/javascript">
                var myChart = echarts.init(document.getElementById('main'));
                var option = {
                        color: ['#3398DB'],
                        title : {
                            text: '课程总览'
                        },
                        tooltip : {
                            trigger: 'axis',
                            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                    type : 'shadow'        
                        }
                        },
                    grid: {
                            left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                    {
                            type : 'category',
                            data : ['0-60', '60-70', '70-80', '80-90', '90-100'],
                            axisTick: {
                            alignWithLabel: true
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'人数',
                            type:'bar',
                            barWidth: '60%',
                            data:{{result}}
                        }
                    ]
                };
            myChart.setOption(option);
            window.onresize = function(){
            myChart.resize();}
            </script>
            <div style="height: 110px"></div> <!--占行用-->
        </body>
    </html>
{% endblock %}