{% extends 'teacher/base.html' %}

{% block title %}首页{% endblock %}

{% block main %}
<br>
<br>
<div class="row">
    <!-- 专业总览 -->
        <div class="col offset-s2 s4 offset-m2 m4 offset-l2 l4">
            <div class="center">
                <i class="large material-icons">assessment</i>
                <h3>专业总览</h3>
                <br>
                <p class="light center">下拉列表中选择年级、学年及专业，查看该专业学生的综合积分情况。</p>
            </div>
        </div>

    <!-- 课程总览 -->
        <div class="col s4 offset-s1 m4 offset-m1 l4 offset-l1">
            <div class="center">
                <i class="large material-icons">assignment</i>
                <h3>课程总览</h3>
                <br>
                <p class="light center">下拉列表中选择年级、学年及学期，输入课程名称即可查看当前课程的成绩分布直方图。</p>
            </div>
        </div>

        <div class="col s1 m1 l1"></div>
</div>

<div class="row">
    <!-- 个人查询 -->
        <div class="col offset-s2 s4 offset-m2 m4 offset-l2 l4">
            <div class="center">
                <i class="large material-icons">find_in_page</i>
                <h3>个人查询</h3>
                <br>
                <p class="light center">提供查看单个学生成绩的如下功能：
                    <ol class="light center" style="list-style-type:circle">
                        <li>成绩走向：基于该学生历年成绩的GPA折线图</li>
                        <li>挂科情况：展示该学生所有未达到60分的科目</li>
                        <li>附加分：展示该学生所有的附加分项</li>
                    </ol>
                </p>
            </div>
        </div>
    <!-- 多成员比较 -->
        <div class="col s4 offset-s1 m4 offset-m1 l4 offset-l1">
            <div class="center">
                <i class="large material-icons">group</i>
                <h3>多成员比较</h3>
                <br>
                <p class="light center">提供比较多个学生（或班级）的如下功能：
                    <ol class="light center" style="list-style-type:circle">
                        <li>学生成绩对比：输入多名学生学号，展示其所修相同科目的成绩折线图</li>
                        <li>班级成绩对比：支持比较同届同专业的任意两个班级的平均成绩情况</li>
                        <li>各届成绩对比：比较不同届相同专业的班级平均成绩</li>
                    </ol>
                </p>
            </div>
        </div>

        <div class="col s1 m1 l1"></div>
</div>
            
{% endblock %}