.bg {
    background-image: url('../image/login_bg.png');
    width: 866px;
    height: 486px;
    margin: 40px auto;
	box-shadow:0 0 8px #afaeae;
	border-radius:10px;
}

.welcome {
    position:Absolute; 
    color: #0977c0;
    font-size: 30px;
    margin: 120px 0px 0px 510px;
    padding: 10px 5px;
}

.loginbtn {
    position:Absolute; 
    font-size: 14px;
    border: none;
    margin: 290px 0px 0px 620px;
	padding-bottom:10px;
}