.bg {
    background-image: url('../image/login_bg.png');
    width: 866px;
    height: 486px;
    margin: 40px auto;
	box-shadow:0 0 8px #afaeae;
	border-radius:10px;
}

.welcome {
    position:Absolute; 
    color: #3d9ddd;
    font-size: 30px;
    margin: 100px 0px 0px 510px;
    padding: 10px 5px;
}

.loginbtn {
    position:Absolute; 
    font-size: 14px;
    border: none;
    margin: 290px 0px 0px 620px;
	padding-bottom:10px;
}
form{
    position: absolute;
    margin: 210px 0px 0px 540px;

}
.username,.passwd{
    width: 200px;
    height: 20px;
    margin: 15px;
    padding: 5px;
}
#submit{
    background-color: #3d9ddd;
    color: aliceblue;
    position: absolute;
    left: 90px;
    top:150px;
    border: 0px;
    font-size: 18px;
}
.tips{
    position: relative;
    color:red;
    left: 15px;
    font-size: 10px;
}
