{% extends 'base.html' %}

{% block title %}成绩对比{% endblock %}

{% block main %}

<form action="{{ url_for('search') }}" method="post">
    <input type="text" placeholder="请输入学号1" name="sid1">
    <input type="text" placeholder="请输入学号2" name="sid2">
    <button type="submit">提交</button>
</form>
    
<div id="main2" style="width: 800px;height:500px;margin: 0 auto;"></div>
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<script type="text/javascript">
	var myChart2 = echarts.init(document.getElementById('main2'));
	// 指定图表的配置项和数据
		var option2 = {
                title : {
                    text: '学生的成绩走向与对比',
                    subtext: '基于GPA'
                },
            tooltip : {
                trigger: 'axis'
            },
			
            legend: {
                data:[{{sid1_name|tojson}},{{sid2_name|tojson}}]
            },
			
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            
			calculable : true,
            
			xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['大一上','大一下','大二上','大二下','大三上','大三下','大四上','大四下']
                }
            ],
            
			yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
            ],
			
            series : [
                {
                    name:{{sid1_name|tojson}},
                    type:'line',
                    data:{{sid1_score|tojson}},
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                },
				
                {
                    name:{{sid2_name|tojson}},
                    type:'line',
                    data:{{sid2_score|tojson}},
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                }
            ]
        };
    myChart2.setOption(option2);
</script>
{% endblock %}