<!DOCTYPE html>
<html>


<head>
<style type="text/css">
body {

background-image:url(static/image/my_wife.jpg);
background-size:cover;
}
</style>
<title>登陆界面</title>
</head>

<body>
	<p id=lwd>{{name}}</p>
	<form name="input" method="post" >
		<pre>
		<input type="text" name="username" id="username"placeholder="用户名" /></br>
		<input  type="password" name="passwd" id="passwd"
		placeholder="密码"/></br>
			<input type="submit" name="提交" value="登陆" >
		</pre>
	<!--<input type="button" onclick="checkOk();" name="提交" value="登陆"/>
	-->
	</form>
<!--
<script>
//当点击提交时调用的方法
function checkOk(){
//从窗口中获取username与passwd对象
var name = document.getElementById("username");
var passwd = document.getElementById("passwd");
//判断是否正确
if (name.value=="111" && passwd.value=="222"){
alert("right");
}else{
alert("用户名或密码不正确！");
}
}
</script>
-->
</body>
</html>

