<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../static/css/index.css">
<title>综合积分查询登陆界面</title>
</head>
<body>
<div class="bg">
    <div class="welcome">欢迎访问综合积分系统</div>
    
    <form  name="input" method="post" >
		
		<input type="text" name="username" id="username"placeholder="username" /></br>
	    <input type="password" name="passwd" id="passwd"placeholder="password"/></br>
		<input id="submit" type="submit" name="提交" value="登陆" >
		
	<!--<input type="button" onclick="checkOk();" name="提交" value="登陆"/>-->
    </form>
    <div>
		{% if error %}
		{{error}}
		{% endif %}
	</div>
   
    <!--<button type="button" class="btn btn-primary btn-lg loginbtn">点此登录</button>-->
</div>
</body>
<!--{% endblock %}-->